body{
  background-color: rgb(210, 192, 228);
}

h1{
  text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15;
    border: none;
    color: rgb(35, 43, 119);
    text-align: center;
    background-color: rgb(127, 127, 233);
}

button:hover {
    background-color: rgb(35, 43, 119);
    color: rgb(127, 127, 233);
}

h1{
  color: rgb(60, 56, 71);
}