body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(229, 229, 229);
    padding: 20px;
    color:rgb(255, 250, 247);
    transition: background-color 0.5s ease;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15;
    border: none;
    color: rgb(0, 0, 0);
}

button:hover {
    background: rgb(14, 0, 23);
    color: rgb(72, 56, 56);
}

#amarelo{
    background-color: rgb(255, 255, 120);
}

#roxo{
    background-color: rgb(177, 94, 177);
}

#azul{
    background-color: rgb(34, 134, 221);
}