  
body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: rgb(5, 1, 8);
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15;
    border: none;
    background-color: rgb(32, 131, 40);
    color: rgb(255, 255, 255);
}

button:hover {
    background: rgb(10, 53, 2);
    color: rgb(255, 255, 255);
}

#mensagem{
  color: blue;
}