.container {
    display: grid;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    background-color: rgb(69, 33, 33);
    min-height: 50vh;
  }
  
  header { grid-area: header; background: rgb(172, 152, 152); }
  main { grid-area: main; background: rgb(172, 152, 152);}
  aside{ grid-area: aside; background: rgb(172, 152, 152);}
  footer{ grid-area: footer; background: rgb(172, 152, 152);}
  
  header {
    text-align: center;
    padding: 10px;
  }
  
  main {
    text-align: center;
    padding: 10px;
  }
  
  footer {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 10px;
  }
    